.navbar-inner {
	
	position: fixed;
	right: 0;
   	left:0;
   	top: 0;
}
.body-content {
	min-height: 400px;
	margin-top: 50px;
}
.hero-unit {
	
	text-align:center;
}
.footer {
	position: fixed;
   	right: 0;
   	left:0;
   	bottom:0;
   	background-color:black;
   	text-align:center;
}
